<div>
  <label for="title">Title</label>
  <input id="title" type="text" name="title" value="<%= book.title %>" />
</div>
<div>
  <label for="auther">Author</label>
  <select name="author" id="author">
    <% authors.forEach(author => { %> <% if ( author.id === book.author ) { %>
    <option
      selected
      label="<%= author.name  %> "
      value="<%= author.id  %> "
    ></option>
    <% } else { %>
    <option label="<%= author.name  %> " value="<%= author.id  %> "></option>
    <% } %> <% }) %>
  </select>
</div>
<div>
  <label for="date">Publish Date</label>
  <input
    id="date"
    type="date"
    name="publishDate"
    value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
  />
</div>
<div>
  <label for="pCount">Page Count</label>
  <input
    id="pCount"
    type="number"
    name="pageCount"
    min="1"
    value="<%= book.pageCount  %>"
  />
</div>
<div>
  <label for="cover">Cover</label>
  <input id="cover" type="file" name="cover" class="filepond" />
</div>
<div>
  <label for="disc">Description</label>
  <textarea name="description" type="text" id="disc" cols="30" rows="10">
<% book.description %> </textarea
  >
</div>
